/*element styling */
html {
  background-color: #FECF76;
overflow-x: hidden;
}

body {
  background-color: #FECF76;
}

strong {
  color: white;
  font-size: 3vh;
  font-family: 'Open Sans Condensed', sans-serif;
}
h1{
  font-family: 'Oswald', sans-serif;
  color: #E0E0E0;
  margin-left: 1vw;
}
h2 {
  font-family: 'Oswald', sans-serif;
  color: #E0E0E0;
  font-size: 2vh;
}
h3{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #E0E0E0;
  font-size: 3vh;
}
ul{
  margin-left: 2vw;
}
li{
  color: #E0E0E0;
  font-size: 1.5vw;
}
p{
  font-family: 'Oswald', sans-serif;
  color: #E0E0E0;
  font-size: 1.5vw;
}
a{
  color:#E0E0E0;
}

/* class styling*/

/* Jumbotron styling*/
.jumbotronLander {
  height: 50vh;
  margin-top: 10vh;
  background-color: #BE6F37;
  border: solid #BE6F37 .5vh;
  box-shadow: 0 -5px 40px -5px #FEA90B;
  margin-left: -15vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: :20vh;
}

.skillsLander {
  grid-column: 2 / 3;
  grid-row: 1;
  margin-bottom: 20vh;
  width: 50vw;
  height: 65vh;
}

.bustImg {
  grid-column: 1;
  height: 40vh;
}

.bg-dark {
  background-color: #BE6F37 !important;
}

.arrow {
  text-align: center;
}
/* Links by the bust on landing jumbotron */
.landingLinks {
  position: absolute;
  left: 4vw;
  top: 20vh;
}

.link {
  height: 5vh;
  display: block;
  background-color: #FECF76;
  margin: .5vh;
  padding: .5vh;
  border-radius: 20px;
}
/* hr seperator between sections*/
.seperator {
  border-top: 1vh dotted #BE6F37;
  width: 15vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
/* Skills carousel*/
section img {
  display: block;
  width: 50%;
}
section {
  width: 100%;
  overflow: hidden;
  background-color: #BE6F37;
  box-shadow: 0 -5px 40px -5px #FEA90B;
  text-align: center;
}
article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

section div {
  width: 100%;
}

section ul {
  display: flex;
  background: #BE6F37;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

section li {
  width: 80%;
  background: #BE6F37;
}

section li:nth-child(2) {
  background: #BE6F37;
}

section li:nth-child(3) {
  background: #BE6F37;
}

@keyframes "bannermove" {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*projects slanted styling */
.slantSection1 {
  padding: 50px 0;
  background-color: #BE6F37;
  overflow: visible;
  z-index: 1;
  position: absolute;
  top: 180%;
  width: 100%;
  height:140vh;
  opacity: .85;
}

.slantSection1:before, .slantSection1:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-3deg);
  box-shadow: 0 -5px 40px -5px #FEA90B;
}

.slantSection1:after {
  top: 0;
  box-shadow: 0 10px 20px -5px #FEA90B;
  transform-origin: left top;
  transform: skewY(3deg);
}
.smallProjects{
  display:inline-block;
  margin: 0 .5vw 0 .5vw;
}
.card{
  background-color: #9E5D2E;
}
.mobileCard{
  width: 13rem !important;
  height:22rem;
}
.cardContainer{
text-align: center;
}
.spanningImage{
height:40vh;
}
.btn{
  background-color: #FECF76;
  border: 1px solid #FEA90B;
}
.card-title{
  color:#E0E0E0;
  font-size: 1.8vw;
}
.card-text{
  color:#E0E0E0;
  font-size: 1.5vw;
}
.topProject{
  margin-left: 1vw;
  margin-right:1vw;
}
/*Education section styling */
.slantsection2 {
  padding: 50px 0;
  background-color: #BE6F37;
  overflow: visible;
  z-index: 1;
  position: absolute;
  top: 340%;
  width: 100%;
  height:60vh;
  opacity: .85;
}

.slantsection2:before, .slantsection2:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: right top;
  transform: skewY(-3deg);
  /*box-shadow: 10px 10px 40px 10px #FEA90B;*/
}

.slantsection2:after {
  /*box-shadow: 10px 10px 10px 10px #FEA90B;*/
  transform-origin: right top;
  transform: skewY(3deg);
}
.educationImg{
  height:50vh;
  position: absolute;
  left:60vw;
  bottom:0vh;
  z-index: 20;
}
.aboutTab{
  position: absolute;
  bottom:15vh;
  left:45vw;
  width:25vw;
}
/* contact section */
.contactForm{
  position: absolute;
  top:420vh;
  background: #BE6F37;
  width: 100%;
  padding-top: 2vh;
 box-shadow: 10px 10px 10px 10px #FEA90B
}
.contactAreas{
  border-right:1px solid rgba(0,0,0,.1);
  width: 65%;
}
.form-row{
  margin-right: .5vw;
}
.contactLinks{
  position:absolute;
  top:8vh;
  left:65vw;
}

.contactForm h3{
  display: inline-block;
}
.contactImg{
  height:3vh;
}
